/* * {outline: dotted; */

header, footer {
    text-align: center;
    color: white;
    background-color: purple;
    font-size: 30px;
       }
body {
    background-color: grey;
    margin: 20px;
     }
nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
      }   
h2 {
    color: whitesmoke;
    background-color: purple;
    font-size: 30px;
    padding: 10px;
} 
ul li {
    font-size: 30px;
    display: inline;
    color: whitesmoke;
    padding: 10px;
}
ul {
    list-style: none;
}
p {
    color: black;
    Padding: 10px;
    margin-left: 15px;
 }
  ol {
    color: black;
    list-style: decimal !important;
    display: block;
    margin: 50px;
   }  
