/* * {outline: dotted; */

header, footer {
    text-align: center;
    color: white;
    background-color: purple;
    font-size: 30px;
       }
body {
    background-color: grey;
    margin: 20px;
     }
nav li {
    display: inline;
    padding: 20px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
      }   
h2 {
    color: whitesmoke;
    background-color: purple;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
} 
ul li {
    font-size: 30px;
    color: whitesmoke;
    padding: 10px;
    list-style: disc;
    margin: 30px;
}
ul {
    text-decoration:none ;
}
p {
    color: black;
    margin-top: 10px;
    margin-left: 55px;
    margin-bottom 10px;
    font-size: 25px;
 }
  ol {
    color: black;
    list-style: decimal !important;
    display: block;
    margin-left: 25px;
    font-size: 30px;
    padding: 10px;
   }  
